@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --thirds-color: #f98169;
  --text-color: #555;
}
html {
  scroll-behavior: smooth;
}
